services:
  pipeline:
    build: .
    volumes:
      - .:/app
      - ~/.aws:/root/.aws:ro
    environment:
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - AWS_PROFILE=${AWS_PROFILE:-default}
    stdin_open: true
    tty: true
